<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scatch</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <nav class="w-full flex justify-between px-10 py-5">
      <a href="/"
        ><h3 class="text-5xl text-blue-400 font-bold italic">Scatch</h3></a
      >
      <% let loggedin = (typeof loggedIn === 'undefined') ? true : loggedIn; %>
      <% if (loggedin) { %>
      <div class="flex gap-10">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/cart"
          ><i class="fa-solid fa-bag-shopping text-xl text-blue-500"></i
        ></a>
        <a href="/user/logout" class="text-red-500">Logout</a>
      </div>
      <% } %>
    </nav>
  
