<%- include('./partials/header') %>
<div class="w-full h-screen flex items-start px-20 py-20">
  <div class="w-[25%] flex h-screen flex-col items-start">
    <div class="flex items-center gap-2">
      <h3>sort by</h3>
      <form action="/shop">
        <select class="border-[1px] px-2 py-1" name="sortby" id="">
          <option value="popular">Popular</option>
          <option value="newest">Newest</option>
        </select>
      </form>
    </div>
    <div class="flex flex-col mt-20">
      <a class="block w-fit mb-2" href="">New Collection</a>
      <a class="block w-fit mb-2" href="">All Products</a>
      <a class="block w-fit mb-2" href="">Discounted Products</a>
    </div>
    <div class="mt-32">
      <a class="block w-fit mb-2" href="">Filter by :</a>
      <a class="block w-fit mb-2" href="">Availability</a>
      <a class="block w-fit mb-2" href="">Discount</a>
    </div>
  </div>
  <div class="w-[75%] flex flex-col gap-5 h-screen">
    <% if(success.length>0){ %>
    <div
      class="error absolute top-5 left-[40%] p-3 bg-green-100 border border-green-500 text-green-600 flex items-center gap-10"
    >
      <span class="inline-block"> <%= success %> </span>
      <i class="fa-solid fa-xmark inline-block cursor-pointer"></i>
    </div>
    <% } %>
    <a
      href="/user/logout"
      class="absolute right-5 top-5 px-5 rounded-full py-2 mt-2 bg-blue-500 text-white"
      >Logout</a
    >
    <div class="flex items-start gap-5">
      <div class="w-60">
        <div class="w-full h-52 flex items-center justify-center bg-red-500">
          <img class="h-[12rem]" src="/images/users/default.png" alt="" />
        </div>
        <div
          class="flex justify-between bg-blue-500 items-center px-4 py-4 text-white"
        >
          <div>
            <h3>product.name</h3>
            <h4>₹ product.price</h4>
          </div>
          <a
            class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
            href=""
          >
            <i class="ri-add-line"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
